<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    <!-- Header and Navigation -->
    <header>
        <a href="/index.html" class="logo">
            <img src="/images/logo/logo.png" alt="TIC Logo">
        </a>
        <div class="mobile-menu-toggle">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <nav class="nav-menu">
            <ul>
                <li><a href="/pages/index.html">Home</a></li>
                <li><a href="/pages/events.html">Events</a></li>
                <li><a href="/pages/calendar.html">Calendar</a></li>
                <li><a href="/pages/team.html">Team</a></li>
                <li><a href="/pages/gallery.html">Gallery</a></li>
                <li><a href="/pages/project.html">Projects</a></li>
                <li><a href="/pages/about.html">About Us</a></li>
                <li><a href="/pages/membership.html">Join TIC</a></li>
            </ul>
        </nav>
    </header>

    <!-- Scripts -->
    <script src="/js/header.js"></script>
</body>
</html>
